@charset "UTF-8";

.container {
  position: relative;
}
.topright {
  position: absolute;
  top: 2px;
  right: 16px;
  font-size: 18px;
}
#classement_general {
	display : flex;
	flex-direction: column;
	align-items: center;
}
#classement_equipe_sexe {
	display: flex;
	 justify-content: space-evenly;
}

#classement_age {
	display: flex;
	 justify-content: space-evenly;
}

.titre_classement {
	text-align:center;
}
#listEncheres {
	display:flex;
	justify-content: space-around;
}
.enchere {
  width: 200px;
  border : 1px solid black;
  padding: 15px;
}